*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Hide scrollbar for the entire page */
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.searchInput{    //Search input custom css
    width: 200px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 14px;
    background-color: #dae3f2;
    margin:0px 10px
}


